* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #ffffff;
    padding: 40px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.service {
    flex: 1;
    padding: 20px;
}

.service-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #00FFFF;
    text-transform: uppercase;
    text-align: center;
     border-bottom: 1px solid #b9b2b2db; 
    padding-bottom: 10px;
}

.service-description { 

    color: #555555;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
}


/* medical plans */
body {
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  background: #fff;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
}

.plans-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.plan {
  border: 1px solid #eee;
  padding: 20px;
  width: 230px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
}

.plan h3 {
  background: #f1f1f1;
  margin: -20px -20px 10px -20px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.price {
  background: #444;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
}

.price span {
  font-size: 28px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
}

ul li {
  margin: 10px 0;
  font-size: 14px;
}

button {
  background: #fff;
  border: 1px solid #222;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #000;
  color: #fff;
}

/* Highlighted Plan */
.plan.highlighted {
  border: 2px solid #4ac4e5;
  background: #e4f9ff;
}

.plan.highlighted h3 {
  background: #4ac4e5;
  color: #fff;
}

.plan.highlighted .price {
  background: #4ac4e5;
}


/* arrow section */
body {
  margin: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.tech-banner {
  background: #e6f6fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-left: 5px solid #32c7e0;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
}

.banner-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.banner-content p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #333;
}

.purchase-btn {
  text-decoration: none;
  border: 1px solid #32c7e0;
  color: #32c7e0;
  padding: 8px 16px;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;
}

.purchase-btn:hover {
  background: #32c7e0;
  color: #fff;
}
