*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Hero Section */

.hero{
    background-image: url('../Images/footer-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}